<h1>Editing table</h1>

<%= render "form", table: @table %>

<br>

<div>
  <%= link_to "Show this table", restaurante_table_path(@table.restaurante, @table) %> |
  <%= link_to "Back to tables", restaurante_tables_path(@table.restaurante) %>
</div>
